.voyager .side-menu.sidebar-inverse {
    background: #273444;
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #ffffff;
}

#tabList {
    display: none;
}

.left-alignment {
    text-align: right;
}

.searchData table thead tr {
    background-color: #273444;
    color: #ffffff;
}

.searchData a:link {
    text-decoration: none;
}

.searchData a:visited {
    text-decoration: underline;
}

.searchData a:hover {
    text-decoration: underline;
}

.searchData a:active {
    text-decoration: underline;
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}

.modal-confirm .btn-info {
    background: #c1c1c1;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.app-container {
    background-color: #ffffff;
}

.navbar-top {
    background-color: #273444 !important;
}

.btn.btn-primary {
    color: #ffffff;
    background: #273444;
}

.voyager .btn.btn-info {
    background-color: #273444;
    color: #fff;
    border-color: #273444;
}

.titleSection {
    font-weight: bolder;
}