/*
Template Name: Stock - HTML Business Template
Author: nhuttruong - maskcodex.com

Colors:
	$primary-color: #f49325;
  $green-color: #00b050;

Fonts: Open+Sans

Table OF Contents
------------------------------------
1 > GENERAL
------ Typography
------ Buttons
------ Inputs
------ Sections
2 > HEADER
------ Top header
------ Header
------ Navigation
03 > HOME
04 > NEWS
------ Related Post
05 > LOGIN
06 > ROOM
07 > CAREER
08 > CONTACT
------ Map
------ Contact Form
09 > PRODUCT
10 > CONSTRUCTION
11 > FORUM
12 > BANNER
13 > FOOTER
14 > RESPONSIVE

------------------------------------*/
/*=========================================================
	01 -> GENERAL
===========================================================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
/*----------------------------*\
	Typography
\*----------------------------*/
body {
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.3333;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}



/*----------------------------*\
	Dropdown
\*----------------------------*/
.dropdown {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__toggle {
  font-size: 14px;
  font-weight: 700;
  color: #626262;
}

.dropdown__content {
  color: #1f1c2f;
  top: 100%;
  right: 0;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: block !important;
  line-height: 1.5;
  min-width: 100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 99;
}

.dropdown__content[data-position="left"] {
  left: 0;
  right: auto;
}

.dropdown__content[data-position="center"] {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.dropdown__content.open {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*----------------------------*\
	Section
\*----------------------------*/
.section-title h2 {
  font-size: 30px;
  font-weight: 900;
  color: #f49325;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-title p {
  color: #f49325;
  text-align: center;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
}

.section-title .section-nav {
  float: right;
}

.section-title .section-nav .section-tab-nav {
  display: inline-block;
}

.section-tab-nav li {
  display: inline-block;
  margin-right: 15px;
}

.section-tab-nav li:last-child {
  margin-right: 0px;
}

.section-tab-nav li a {
  font-weight: 700;
  color: #8d99ae;
}

.section-tab-nav li a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #f49325;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.section-tab-nav li.active a {
  color: #f49325;
}

.section-tab-nav li a:hover:after,
.section-tab-nav li a:focus:after,
.section-tab-nav li.active a:after {
  width: 100%;
}

.section-title .section-nav .products-slick-nav {
  top: 0px;
  right: 0px;
}

/*=========================================================
	02 -> HEADER
===========================================================*/
/*----------------------------*\
      Header
\*----------------------------*/
#header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #292929;
}

#header .header-logo {
  text-align: center;
}

#header .header-logo .logo {
  width: 100%;
  max-width: 213px;
}

#header .header-logo .logo img {
  max-width: 100%;
}

/*----------------------------*\
      Navigation
\*----------------------------*/
#navigation {
  background: #292929;
  position: relative;
  border-top: 1px solid #eeeeee;
}

@media (max-width: 992px) {
  #navigation {
    padding: 15px 0;
  }
}

#navigation.scrolled {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 1000;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.header .main-nav .main-menu a {
  text-transform: initial;
}

@media only screen and (max-width: 1200px) {
  .header .main-nav .main-menu a {
    font-size: 12px;
  }
}

.header .main-nav {
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-toggle {
  cursor: pointer;
}

.navbar-toggle > span {
  width: 31px;
  height: 3px;
  background-color: #f49325;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-toggle.open > span:nth-child(1),
.navbar-toggle.open > span:nth-child(3) {
  width: 25px;
}

.navbar-toggle.open > span:nth-child(1) {
  -webkit-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-45deg);
}

.navbar-toggle.open > span:nth-child(3) {
  -webkit-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(45deg);
}

#responsive-nav {
  width: 100%;
}

.main-nav {
  position: relative;
  z-index: 999;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav li {
  z-index: 9;
}

.main-nav li.current-menu-item {
  background: #292929;
}

.main-nav li.current-menu-item a {
  color: #fff;
}

.main-nav li.menu-item-has-children > a:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f0dd";
  font-weight: 900;
  margin-left: 4px;
  position: relative;
  top: -3px;
}

.main-nav li a {
  display: block;
  position: relative;
  text-decoration: none;
}

.main-nav li a::before {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  background: #ffffff;
  height: 2px;
  -webkit-transition: width .3s, opacity .4s;
  transition: width .3s, opacity .4s;
}

.main-nav li a:hover::before {
  width: 100%;
  opacity: 1;
}

.main-nav li a.current-menu-parent > a::before,
.main-nav li a.current-menu-item > a::before {
  width: 100%;
  opacity: 1;
}

.main-nav .main-menu > li {
  padding: 10px 30px;
}

.main-nav .main-menu > li:first-child {
  padding-left: 0;
}

@media (max-width: 992px) {
  .main-nav .main-menu > li {
    display: block;
  }
}

.main-nav .main-menu > li:hover {
  background: #292929;
}

.main-nav .main-menu > li:hover a {
  color: #fff;
}

.main-nav .main-menu .sub-menu,
.main-nav .language-menu .sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.main-nav .main-menu li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.main-nav .main-menu a {
  font-size: 14px;
  color: #cccccc;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 700;
}

.main-nav .main-menu .sub-menu {
  background-color: #fff;
  text-align: left;
  border: 1px solid rgba(244, 147, 37, 0.1);
  border-left: 0;
}

.main-nav .main-menu .sub-menu {
  display: block !important;
}

.main-nav .main-menu .sub-menu {
  padding: 30px;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: -1;
  left: 0;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-box-shadow: 0px 6px 8px 1px #5c5c5c;
          box-shadow: 0px 6px 8px 1px #5c5c5c;
}

.main-nav .main-menu .sub-menu a {
  color: #292929 !important;
  padding: 10px 30px 10px 0;
}

.main-nav .main-menu .sub-menu a:hover {
  color: #f49325 !important;
}

.main-nav .main-menu .sub-menu .sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.main-nav .main-menu .sub-menu .sub-title img {
  margin-right: 7px;
}

.main-nav .navbar-toggle {
  display: none;
}

@media (max-width: 992px) {
  .main-nav .main-menu {
    position: fixed;
    top: 0;
    will-change: transform;
    background-color: #111;
    left: 0;
    width: 280px;
    background-color: #111;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    z-index: 99999;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    width: 280px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .main-nav .main-menu .sub-menu {
    display: none;
  }
  .main-nav .main-menu li {
    position: relative;
  }
  .main-nav .main-menu li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #eee;
    padding: 12px 15px;
    font-size: 14px;
  }
  .main-nav .main-menu li a:hover {
    font-weight: 900;
  }
  .main-nav .main-menu li a:after {
    right: 0;
    width: 50px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  .main-nav .main-menu .active > a {
    font-weight: 900;
  }
  .main-nav .main-menu .current-menu-parent > a,
  .main-nav .main-menu .current-menu-item > a {
    font-weight: 900;
  }
  .main-nav .active.main-menu {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .main-nav .navbar-toggle {
    display: block;
  }
}

.menu_container {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100%;
  max-width: 320px;
  background: #ffffff;
  z-index: 9999;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  visibility: hidden;
  opacity: 0;
  border-bottom: 2px solid #292929;
  height: 100vh;
  overflow: auto;
}

.menu_container div {
  position: unset;
}

.menu_container .menu_inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.menu_container .menu_inner li {
  margin-bottom: 0;
  border-top: 1px solid #292929;
}

.menu_container .menu_inner li a {
  padding: 10px 15px;
  font-weight: 400;
}

.menu_container li.menu_item-has-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_container li.menu_item-has-children::after {
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  padding: 10px 15px;
}

.menu_container li.menu_item-has-children .sub-menu {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 99991;
  left: -100vw;
  width: 100%;
  max-width: 320px;
  background: #ffffff;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  visibility: hidden;
  opacity: 0;
}

.menu_container li.menu_item-has-children .sub-menu .sub-title {
  color: #a0a0a0;
}

.menu_container li.menu_item-has-children .sub-menu li {
  margin-bottom: 0;
  border-top: 1px solid transparent;
}

.menu_container li.menu_item-has-children .sub-menu li a {
  padding: 10px 15px;
  width: 100%;
}

.menu_container li.menu_item-has-children .sub-menu li.last-item a {
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
}

.menu_container li.menu_item-has-children .sub-menu li.view-image a {
  padding: 5px 0;
}

.menu_container li.menu_item-has-children .sub-menu li.view-image a img {
  width: 100%;
}

.menu_container li.menu_item-has-children .sub-menu li.menu_item-has-children {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu_container li.menu_item-has-children .sub-menu li.menu_item-has-children::after {
  position: absolute;
  top: 3px;
  right: 0;
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  padding: 10px 15px;
}

.menu_container li.menu_item-has-children .sub-menu .sub-menu-close {
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
}

.menu_container li.menu_item-has-children .sub-menu .submenu-item .sub-menu-2 {
  padding-left: 25px;
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu_container li.menu_item-has-children .sub-menu .submenu-item.active .sub-menu-2 {
  padding-left: 25px;
  visibility: visible;
  opacity: 1;
  height: auto;
}

.menu_container li.menu_item-has-children.active .sub-menu {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.menu_container a.menu_mm-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px;
}

@media (max-width: 320px) {
  .menu_container {
    max-width: 100%;
  }
  .menu_container li.menu_item-has-children .sub-menu {
    max-width: 100%;
  }
}

.menu_container.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.menu_inner {
  width: 100%;
}

.menu_list {
  -webkit-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
  -webkit-transition: all 1000ms 500ms ease;
  transition: all 1000ms 500ms ease;
  opacity: 0;
}

.menu_container.active .menu_list {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

.menu_item {
  margin-bottom: 5px;
}

.menu_item a {
  display: block;
  padding: 14px 25px 14px 0;
  font-size: 18px;
  color: #272727;
}

.nav_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_right .shopping-cart {
  height: 100%;
}

.nav_right .shopping-cart a.dropdown__toggle {
  padding: 8px 17px;
  position: relative;
}

.nav_right .shopping-cart i {
  font-size: 18px;
  color: #ffffff;
}

.nav_right .shopping-cart .badge {
  font-size: 10px;
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  line-height: 15px;
  top: 5px;
  right: 0;
  vertical-align: middle;
}

.nav_right .shopping-cart .dropdown__content {
  width: 360px;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 540px) {
  .nav_right .shopping-cart .dropdown__content {
    width: 255px;
  }
}

.nav_right .shopping-cart .dropdown__content .shopping-cart {
  padding: 20px 20px 0;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-header p {
  text-align: right;
  margin-bottom: 0;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-header p span {
  color: #0000ff;
  font-weight: 600;
}

@media (max-width: 540px) {
  .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-header p {
    text-align: left;
  }
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body {
  padding-top: 15px;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 340px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul::-webkit-scrollbar {
  width: 4px;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul::-webkit-scrollbar-thumb {
  background: #888;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-height: 320px) {
  .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul {
    max-height: 270px;
  }
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .image {
  padding-right: 15px;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .image img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info h3 {
  text-align: left;
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 2px;
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info > div p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info > div p.type {
  color: #000000;
  font-weight: 600;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info > div p.price {
  color: #00c0cb;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info > div p.amount {
  color: #abb0be;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item button {
  background: transparent;
  outline: 0;
  border: 0;
  text-align: center;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item button i {
  color: #222222;
  font-size: 16px;
  border: 0;
}

.nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item button:hover {
  cursor: pointer;
}

@media (max-width: 540px) {
  .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info h3, .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .info p {
    text-align: center !important;
  }
  .nav_right .shopping-cart .dropdown__content .shopping-cart .cart-body ul li.cart-item .image {
    padding-right: 0;
  }
}

.nav_right .shopping-cart .cart-footer {
  margin-top: 15px;
}

.nav_right .shopping-cart .cart-footer .all-cart {
  padding: 9px 0;
  border-top: 1px solid #292929;
  display: block;
}

.nav_right .search-form {
  display: inline-block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_right .search-form a {
  padding: 8px 15px;
}

.nav_right .search-form a:hover i {
  color: #e08738;
}

.nav_right .search-form__toggle:hover {
  cursor: pointer;
}

.nav_right .search-form__toggle i {
  color: #fff;
}

.nav_right .search-form__form {
  top: 100%;
  right: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 300px;
}

@media (max-width: 992px) {
  .nav_right .search-form__form {
    top: 45px;
  }
}

@media (max-width: 540px) {
  .nav_right .search-form__form {
    position: fixed;
    top: 163px;
    right: auto;
    left: 0;
    width: 100%;
  }
}

.nav_right .search-form__form .form-search,
.nav_right .search-form__form .form-search > form,
.nav_right .search-form__form .form-search > form > input {
  height: 100%;

}

.nav_right .search-form {
  position: relative;
}

.nav_right .search-form.open .search-form__form {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*=========================================================
	03 -> HOME
===========================================================*/
.home {
  padding: 10px 0 22px;
}

.home [class*="col-"] {
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.home [class*="col-"]:not(:last-child) {
  margin-bottom: 6px;
}

.box {
  text-align: center;
  overflow: hidden;
  position: relative;
}

.box .background-img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box .background-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.box .background-img::after {
  content: "";
  padding-bottom: 40%;
  display: block;
}

.box .box-content {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .box-content::before, .box .box-content::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.box .box-content::before {
  border-top: none;
  border-bottom: none;
  left: 30px;
  right: 30px;
}

.box .box-content::after {
  border-left: none;
  border-right: none;
  top: 30px;
  bottom: 30px;
}

.box .box-content .inner-content h2 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
}

.box:hover .box-content {
  background-color: rgba(0, 0, 0, 0.4);
}

.box:hover .box-content::before, .box:hover .box-content::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.col-md-6 .box .background-img::after {
  padding-bottom: 80%;
}

@media (max-width: 992px) {
  .box .box-content .inner-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .box .background-img::after {
    padding-bottom: 80%;
  }
  .box .box-content .inner-content h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

/*=========================================================
	04 -> NEWS
===========================================================*/
/*=========================================================
	10 -> NEWS
===========================================================*/
.news {
  padding-bottom: 45px;
}

.news .news-pagination {
  margin-top: 19px;
}

.news .news-pagination ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .news-pagination ul .page-item .page-link {
  color: #292929;
  border: 0;
  padding: 9px 12px;
  margin: 0 3px;
  border-radius: 0;
  font-weight: 700;
}

.news .news-pagination ul .page-item.active .page-link {
  background-color: #292929;
  color: #fff;
}

.news_item {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-bottom: 25px;
}

.news_item:hover .thumbnail-img .hover-img {
  -webkit-transform: scale(1.15) rotate(2deg);
          transform: scale(1.15) rotate(2deg);
}

.news_item .thumbnail-img {
  overflow: hidden;
  margin-bottom: 24px;
}

.news_item .thumbnail-img .hover-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.news_item .thumbnail-img .hover-img::after {
  padding-bottom: 80%;
  content: "";
  display: block;
}

.news_item .news-content h2 {
  font-size: 18px;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
}

.news_item .news-content p {
  font-size: 14px;
  color: #646464;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-content h2 {
  margin-bottom: 22px;
  font-size: 28px;
  font-weight: 700;
  color: #292929;
}

.post-content .prima-img {
  display: block;
  margin-bottom: 44px;
}

.post-content .prima-img.size-full {
  width: 100%;
  max-width: 100%;
}

.post-content p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 28px;
}

@media (max-width: 992px) {
  .post-content .main-content {
    text-align: justify;
  }
}

.related-news {
  padding-top: 30px;
  padding-bottom: 25px;
}

.related-news h2.related-new-title {
  text-align: center;
  color: #292929;
  font-size: 28px;
  margin-bottom: 25px;
}

.related-news .news_item {
  margin-bottom: 5px;
}

/*=========================================================
	08 -> CONTACT
===========================================================*/
/*----------------------------*\
    Form
\*----------------------------*/
.contact-form {
  padding-bottom: 50px;
}

.contact-form .section-title h2 {
  font-size: 30px;
  font-weight: 700;
  color: #292929;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .contact_form > div {
  margin-bottom: 18px;
}

.contact-form .contact_form_container {
  background-color: #f8f8f8;
  padding: 40px 20px 10px 20px;
}

.contact-form .contact_form_container .contact_text_area {
  height: 160px;
  padding-top: 13px;
}

.contact-form .contact_form_container .contact-submit {
  margin-top: 10px;
  background: #c48c46;
}

@media (max-width: 992px) {
  .contact-form .input_col:first-child {
    margin-bottom: 18px;
  }
}

.contact-map {
  padding-top: 38px;
  padding-bottom: 38px;
}

.contact-map .col-lg-6 {
  background-color: #f8f8f8;
}

.contact-map .company-info {
  padding-top: 45px;
  padding-left: 35px;
}

.contact-map .section_title h2 {
  font-size: 24px;
  margin-bottom: 38px;
  font-weight: 900;
  color: #000000;
}

.contact-map .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contact-map .contact-info .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-map .contact-info .icon i {
  color: #c6c6c6;
  font-size: 24px;
}

.contact-map .contact-info p {
  margin-bottom: 0;
  font-size: 16px;
  color: #292929;
}

/*=========================================================
	09 -> PRODUCT
===========================================================*/
.products .no-gutters > .col,
.products .no-gutters > [class*="col-"] {
  padding-left: 2px;
  padding-right: 2px;
}

.card-pro {
  background-color: #f6f6f6;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-pro .card-pro__img {
  overflow: hidden;
}

.card-pro .card-pro__img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card-pro .card-pro__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.card-pro .card-pro__info {
  padding-bottom: 40px;
  min-height: 158px;
}

.card-pro .card-pro__name {
  margin-top: 20px;
  height: 42px;
  padding: 0 40px;
  font-size: 16px;
  color: #686868;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-pro .card-pro__price {
  color: #c48c46;
  font-size: 18px;
  font-weight: 700;
}

.card-pro .card-pro__old-pr {
  text-decoration: line-through;
  color: #686868;
  display: block;
}

.card-pro:hover {
  background-color: #686868;
}

.card-pro:hover .card-pro__img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card-pro:hover .card-pro__img img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-pro:hover .card-pro__name,
.card-pro:hover .card-pro__old-pr {
  color: #ffffff;
}

@media (max-width: 992px) {
  .card-pro__name {
    padding: 15px 10px 0 10px;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*=========================================================
	10 -> BANNER
===========================================================*/
.banner .bg-banner {
  height: 400px;
}

.banner .bg-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .banner .bg-banner {
    height: 200px;
  }
}

/*=========================================================
	11 -> SHOP GUIDE
===========================================================*/
.shop-guide {
  padding-top: 30px;
  padding-bottom: 20px;
}

.shop-guide .section-title h2 {
  margin-top: 0;
  color: #292929;
  text-align: center;
  font-size: 28px;
}

.shop-guide p, .shop-guide ul {
  margin-bottom: 28px;
}

.shop-guide ul {
  list-style: disc;
  padding-left: 20px;
}

.shop-guide ul li {
  margin: 0 0 10px;
  padding-left: 17px;
}

@media (max-width: 992px) {
  .shop-guide .content {
    text-align: justify;
  }
}

/*=========================================================
	14 -> FOOTER
===========================================================*/
#footer {
  background: #292929;
  border-top: 1px solid #dfdfdf;
}

#footer .section {
  padding: 67px 0 0;
}

@media (max-width: 992px) {
  #footer .section {
    padding: 20px 0 0;
  }
}

#footer .footer-title {
  color: #ffffff;
  font-size: 24px;
  margin: 0px 0px 27px;
  padding-bottom: 20px;
  font-weight: 600;
  position: relative;
}

#footer .footer-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: 2px;
  background: #ffffff;
}

#footer .footer {
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  #footer .footer {
    margin-bottom: 35px;
  }
}

#footer .footer .footer-logo img {
  max-width: 100%;
}

#footer p,
#footer a {
  font-size: 16px;
  color: #ffffff;
}

#footer .footer-links li {
  margin-bottom: 1rem;
}

#footer .copyright {
  display: block;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

#bottom-footer {
  background: #292929;
  padding: 20px 0;
  border-top: 1px solid #ffffff;
  margin-top: 96px;
}

@media (max-width: 992px) {
  #bottom-footer {
    margin-top: 0;
  }
}


@media (max-width: 540px) {
  .breadcrumb ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tab-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.tab-select__item:not(:last-child) {
  margin-right: 20px;
}

.tab-select .select-container {
  position: relative;
  display: inline-block;
}

.tab-select .select-container .arrow-down {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tab-select label {
  margin-right: 5px;
  margin-bottom: 0;
  font-weight: 700;
}

.tab-select select, .tab-select label {
  font-size: 14px;
}

.tab-select select {
  padding: 7px 9px;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  min-width: 140px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

.tab-select select:focus {
  outline: none;
}

@media (max-width: 992px) {
  .tab-select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-select__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .tab-select__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .tab-select label {
    margin-bottom: 5px;
  }
  .tab-select select {
    width: 100%;
  }
}

.btn-prm {
  display: block;
  width: 225px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: #292929;
  color: #e2e2e2;
  position: relative;
}

.btn-prm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 0;
  background-color: rgba(226, 226, 226, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-prm:hover {
  color: #e2e2e2;
}

.btn-prm:hover::before {
  width: 100%;
}

.cart .input_col {
  margin-bottom: 11px;
}

.cart .order_text_area {
  height: 190px;
  padding-top: 13px;
}

.cart .group-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .cart .group-radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cart .group-radio p {
  margin-bottom: 0;
  margin-left: 15px;
}

.cart .group-radio .custom-radio input[type="radio"] {
  display: none;
}

.cart .group-radio .custom-radio input[type="radio"] + label {
  border: 1px solid #c48c46;
  height: 23px;
  width: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

.cart .group-radio .custom-radio input[type="radio"] + label span {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.cart .group-radio .custom-radio input[type="radio"]:checked + label {
  border: 1px solid #c48c46;
}

.cart .group-radio .custom-radio input[type="radio"]:checked + label span {
  background-color: #c48c46;
}

.cart .group-radio .custom-radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .group-radio .custom-radio-container:not(:last-child) {
  margin-right: 75px;
}

@media (max-width: 768px) {
  .cart .group-radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px;
  }
  .cart .group-radio .custom-radio-container:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.cart .form_submit {
  margin-bottom: 29px;
}

.cart .form_submit .order-submit {
  width: 225px;
}

.cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
  padding: 10px 0;
  margin: 0;
}

.cart .cart-item .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-item .product .image {
  width: 97px;
  height: 97px;
}

.cart .cart-item .product .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart .cart-item .product .info {
  margin-left: 27px;
}

.cart .cart-item .product .info h3 {
  font-size: 16px;
}

.cart .cart-item .product .info p {
  font-size: 14px;
  margin-bottom: 0;
}

.cart .cart-item .product .info p:not(:last-child) {
  margin-bottom: 5px;
}

.cart .cart-item .product-qty {
  border: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 29px;
}

.cart .cart-item .product-qty input {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
  color: #c48c46;
}

.cart .cart-item .product-qty .button {
  padding: 0 8px;
  font-size: 15px;
  color: #a18181;
  background: #ffffff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 29px;
  width: 29px;
  line-height: 29px;
  text-align: center;
}

.cart .cart-item .product-qty .button:hover {
  cursor: pointer;
}

.cart .cart-item .product-qty .button:focus {
  background: transparent;
}

.cart .cart-item .item-price {
  color: #c48c46;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  white-space: nowrap;
}

.cart .cart-item .btn-remove {
  text-align: center;
}

.cart .cart-item .btn-remove i {
  color: #7c7c7c;
  padding: 3px;
  border: 1px solid transparent;
}

.cart .cart-item .btn-remove:hover i {
  padding: 3px;
  border: 1px solid #7c7c7c;
}

@media (max-width: 768px) {
  .cart .cart-item .product {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart .cart-item .product, .cart .cart-item .product-qty, .cart .cart-item .item-price {
    margin-bottom: 15px;
  }
  .cart .cart-item .product-qty, .cart .cart-item .item-price {
    text-align: center;
  }
  .cart .cart-item .product-qty {
    max-width: 230px;
    margin: 0 auto 15px;
  }
}

.cart.cart-empty, .cart.cart-success {
  margin: 130px 0;
}

.cart.cart-empty .cart-content, .cart.cart-success .cart-content {
  background: #f8f8f8;
  padding: 60px 0;
  text-align: center;
  margin-bottom: 25px;
}

.cart.cart-empty .cart-content h2, .cart.cart-success .cart-content h2 {
  font-size: 36px;
  color: #292929;
}

.cart.cart-empty .cart-content p, .cart.cart-success .cart-content p {
  margin-bottom: 0;
}

.cart .cart-content {
  padding-top: 35px;
  padding-bottom: 55px;
}

.cart .cart-content .cart-stat {
  margin-bottom: 15px;
}

.cart .cart-content .order-submit {
  margin-top: 21px;
  width: 225px;
  background: #292929;
}

.cart .cart-content .total {
  text-align: right;
  margin-top: 26px;
}

.cart .cart-content .total p {
  margin-bottom: 0;
}

.cart .cart-content .total .total-price {
  font-weight: 700;
  font-size: 24px;
  color: #c48c46;
}

@media (max-width: 768px) {
  .cart .cart-content .col-12 {
    text-align: center;
  }
  .cart .cart-content .f-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .order-form {
  padding-bottom: 51px;
}

.cart .order-form .section-title h2 {
  font-size: 30px;
  font-weight: 700;
  color: #292929;
  text-align: center;
  margin-bottom: 20px;
}

.cart .order-form .order_form_container {
  background-color: #f8f8f8;
  padding: 40px 20px 10px 20px;
}

.introduce .row {
  margin-bottom: 45px;
}

.introduce .section-title h2 {
  font-size: 28px;
  color: #292929;
  margin: 41px 0 0;
}

.introduce .introduce-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.introduce .introduce-text h3 {
  font-size: 22px;
  color: #292929;
  margin-bottom: 20px;
}

.introduce .introduce-text p {
  font-size: 16px;
}

.introduce .introduce-bottom {
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0 70px;
  margin: 55px 0 71px;
  position: relative;
}

.introduce .introduce-bottom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.introduce .introduce-bottom .introduce-text {
  z-index: 2;
  text-align: center;
}

.introduce .introduce-bottom .introduce-text h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.desc-detail {
  margin-top: 45px;
  padding-top: 0;
  margin-bottom: 30px;
}

.desc-detail p {
  margin-bottom: 30px;
}

.desc-detail__sub {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 20px;
}

.desc-detail__heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

@media (max-width: 992px) {
  .desc-detail {
    text-align: justify;
  }
}

.title-relate {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
  text-align: center;
}

.relate-list {
  margin-bottom: 65px;
}

.relate-list [class*=col-] {
  padding-left: 2px;
  padding-right: 2px;
}

#big-img {
  margin-bottom: 5px;
}

#big-img .item {
  position: relative;
}

#big-img .item::after {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

#big-img .item .fit-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#thumbs .current .item {
  border: 2px solid #292929;
}

@media (max-width: 992px) {
  #thumbs {
    display: none;
  }
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: auto;
  left: 10px;
}

.product-detail, .product-detail-info {
  padding-left: 65px;
  padding-top: 25px;
}

.product-detail .p-info h2, .product-detail-info .p-info h2 {
  font-size: 24px;
  color: #000000;
}

.product-detail .p-info p, .product-detail-info .p-info p {
  margin-bottom: 0;
}

.product-detail .p-value, .product-detail-info .p-value {
  margin: 45px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product-detail .p-value .price, .product-detail-info .p-value .price {
  color: #c48c46;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.product-detail .p-value .discount, .product-detail-info .p-value .discount {
  color: #a4a4a4;
  font-size: 18px;
  margin-left: 10px;
}

@media (max-width: 992px) {
  .product-detail .p-value, .product-detail-info .p-value {
    margin: 15px 0 0;
  }
}

.product-detail .color-type, .product-detail-info .color-type {
  margin-bottom: 35px;
}

.product-detail .color-type .group-radio, .product-detail-info .color-type .group-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail .color-type .group-radio .custom-radio:not(:last-child), .product-detail-info .color-type .group-radio .custom-radio:not(:last-child) {
  margin-right: 15px;
}

.product-detail .color-type p span, .product-detail-info .color-type p span {
  font-weight: 700;
}

.product-detail .color-type p span.success, .product-detail-info .color-type p span.success {
  color: #008000;
}

.product-detail .color-type p span.error, .product-detail-info .color-type p span.error {
  color: #ff0000;
}

.product-detail .custom-radio input[type="radio"], .product-detail-info .custom-radio input[type="radio"] {
  display: none;
}

.product-detail .custom-radio input[type="radio"] + label, .product-detail-info .custom-radio input[type="radio"] + label {
  background-color: #e1e1e1;
  height: 23px;
  width: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-radius: 100%;
  overflow: hidden;
}

.product-detail .custom-radio input[type="radio"] + label img, .product-detail-info .custom-radio input[type="radio"] + label img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.product-detail .custom-radio input[type="radio"]:checked + label, .product-detail-info .custom-radio input[type="radio"]:checked + label {
  background-color: #c48c46;
  height: 23px;
  width: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-radius: 100%;
}

.product-detail .btn-cart, .product-detail-info .btn-cart {
  width: 325px;
}

@media (max-width: 992px) {
  .product-detail, .product-detail-info {
    padding-left: 0;
    padding-top: 25px;
  }
  .product-detail .btn-cart, .product-detail-info .btn-cart {
    width: 100%;
  }
}

.m-desktop {
  display: block;
}

@media (max-width: 992px) {
  .m-desktop {
    display: none;
  }
}

.m-mobile {
  display: none;
}

@media (max-width: 992px) {
  .m-mobile {
    display: block;
  }
}

.m-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.m-content .return-page {
  position: fixed;
  top: 28px;
  left: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99;
}

.m-content .return-page i {
  color: #292929;
  font-size: 20px;
}

.m-content .return-page.rr {
  position: absolute;
  top: 24px;
  left: calc(100% - 65px);
}

.m-content .m-product-details {
  width: 100%;
  background: #fff;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.m-content .m-product-details .m-product-container {
  width: 100%;
  z-index: 1;
  height: calc(100% - 177px);
}

@media (max-width: 340px) {
  .m-content .m-product-details .m-product-container {
    height: calc(100% - 177px);
  }
}

.m-content .m-product-details .m-product-container .swiper-slide {
  background: #fff;
  overflow: hidden;
}

.m-content .m-product-details .m-product-container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-content .m-product-details .product-bottom {
  position: absolute;
  top: calc(100vh - 177px);
  left: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
  overflow: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 340px) {
  .m-content .m-product-details .product-bottom {
    top: calc(100vh - 177px);
  }
}

.m-content .m-product-details.toggle .product-bottom {
  top: 0;
  height: 100vh;
}

.m-content .m-product-details .product-detail-info {
  padding-top: 22px;
  position: relative;
  padding-left: 0;
}

.m-content .m-product-details .product-detail-info .p-info {
  padding-right: 75px;
}

.m-content .m-product-details .product-detail-info .p-value {
  margin-bottom: 25px;
}

@media (max-width: 340px) {
  .m-content .m-product-details .product-detail-info .p-value {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m-content .m-product-details .product-detail-info .p-value .discount {
    margin-left: 0;
  }
}

.m-content .m-product-details .product-detail-info .arrow-click {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 999;
  text-align: center;
}

.m-content .m-product-details .product-detail-info .arrow-click i {
  color: #000;
  font-size: 20px;
}

.m-content .m-product-details .product-detail-info .arrow-click i::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  content: '\f325';
}

.m-content .m-product-details .product-detail-info .arrow-click.click i::after {
  content: '\f322';
}
/*# sourceMappingURL=style.css.map */
