:root {
    --main-background: #2E4372;
}

.voyager .side-menu.sidebar-inverse {
    background: var(--main-background);
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #ffffff;
}

#tabList {
    display: none;
}

.left-alignment {
    text-align: right;
}

.searchData table thead tr {
    background-color: var(--main-background);
    color: #ffffff;
}

.searchData a:link {
    text-decoration: none;
}

.searchData a:visited {
    text-decoration: underline;
}

.searchData a:hover {
    text-decoration: underline;
}

.searchData a:active {
    text-decoration: underline;
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}

.modal-confirm .btn-info {
    background: #c1c1c1;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.app-container {
    background-color: #ffffff;
}

.navbar-top {
    background-color: var(--main-background) !important;
}

.btn.btn-primary {
    color: #ffffff;
    background: var(--main-background);
}

.voyager .btn.btn-info {
    background-color: var(--main-background);
    color: #fff;
    border-color: var(--main-background);
}

.titleSection {
    font-weight: bolder;
    padding-bottom: 2px;
    border-bottom: 3px solid #000;
    width: max-content;
    margin-bottom: 20px;

}
.dataTables_paginate .paginate_button.current

{

    background-color: #ee3535 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: unset !important;
    /* margin-left: 0; */
    /* border: 0; */
}



.bold {
    font-weight: bolder;
}

td{
    button.btnDelete 
    {
        background-color: green ;
    
       
    }
    button {
        background-color: none;
        border: none;
        background-color: blue;
        padding: 5px 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        svg{
            color :#fff !important;
        }
    }
}

.popup-image
{
    width: 100%;
    img {
        width: 100%;
    }
}

.errorInput {
    color: red;
}

.btn:hover {
  background-color: #102d6c;
  color:#fff;
}
button:hover {
    background-color: #102d6c !important;
    color:#fff;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .one-column
    {
        width: 50%;
        padding:10px;
        

    }
}

.largeTitle
{
    text-align: center;
    padding: 20px;
}

.tab {
    overflow: hidden;
    border: 1px solid #2e4372 !important;
    background-color:#2e4372 !important;
    color: #ffffff;
  }


  .requriedInput 
  {
      span {
          font-weight: bolder;
          color:  red;
      }
  }
  .errorMessage 
  {

    span {

        color:  rgb(218, 93, 93);
    }
  }
  
  .largePrice 
  {
      font-size: 2rem;
      font-weight: bold;
  }

  .mediumPrice 
  {
      font-size: 1.0rem;
      font-weight: bold;
  }
  .footerNavBar {
      button {
         margin-right: 5px;
         padding: 12px 18px !important;
         border-radius: 5px ;
         width: 150px !important;
      }
  }
  .approveStatus 
  {
      background-color: orange !important;

  }
  .approveStatus:hover
  {
      background-color: rgb(255, 165, 0) !important;
  }
  .d-md-block {
      text-transform: uppercase !important;
  }
  .list-group-item 
  {
      strong {
          font-weight: bolder !important;
      }
  }

  #feeShippingTextDisplay {
      color: red;
      font-weight: bold;
  }
  .bold-text 
  {
      font-weight: bolder;
  }
  .button-menu-page {
     text-align: right;
     width: 100%;
     padding: 10px;
  }
  #fromSearch {
   
  }

  .shipperContainer {
    color:black;
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        padding: 8px;
        text-align: left;
        
        color:black;
        border-bottom: 1px solid #DDD;
      }
      th {
        font-weight: bolder;
      }
      
      tr:hover {background-color: #D6EEEE;}

      .modal-title {
        font-weight: bolder;
        color: black;
        text-align: center;
    }
    .large-money{

        font-size: 20px;
        color:red;
        font-weight: bolder;
    }
    strong {
        font-weight: bolder;
        color: black;
    }
  }

  .avatar-container
  {
      width: 100%;
      text-align: center;
    .avatar {
    
        padding: 10px;
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      p {
          color:black;
      }
     
  

  }

  .nav-menu-filter {

    
    
    color:#fff;
    display:flex;
    width: 100%;
    justify-content: end;
 
    .filter {
        margin-top: 10px;
        background-color: #2e437252;
        padding: 5px 10px;
        margin-bottom: 10px;
        border-radius:10px;
        
    }
     a {
        padding: 5px 10px;
        color:  #ffffff;
        margin-right: 3px;
       
        border-radius: 10px;
    }
    a:hover {
       background-color:  #5454c3;
    
    
    }
    a.active {
        background-color:  #5454c3; 
    }
  }
 

 .action-search {

    display: block;
    width: 100%;
    padding: 0 10px;
    a {
        padding: 8px 6px;
    }
    
    a.active {
        background-color: blue;
        color: #fff;
    }
    a:hover {
        background-color: blue;
        color: #ffffff !important; 
        border: 10px;
    }
  }