* {
    box-sizing: border-box;
}

body {
    color: #858796;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    background-color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    box-shadow: 0 4px 5px #ddd;
}

.heading-section {
    height: 120px;
}

.cod-section {
    height: 230px;
}

.status-section {
    height: 230px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    margin-top: 1rem;
}

.dropdown-list {
    border: 1px solid #ddd;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    align-self: center;
    height: 2.5rem;
    width: 250px;
}

.date-box {
    align-self: center;
    border: 1px solid #ddd;
    height: 2.5rem;
    padding: 0 1rem;
}

.btn-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
}

.btn-list button {
    width: 200px;
}

.filter-info {
    background-color: #eee;
    /* margin-left: 1rem; */
    padding: 0 0.5rem;
    width: fit-content;
    text-align: left;
}

.filter-info button{
    background-color: transparent;
    border: none;
}

.filter-info button:hover {
    color: #000;
    cursor: pointer;
    font-weight: 900;
}

.date-filter {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    z-index: 99;
}

.date-filter * {
    /* background-color: transparent; */
    padding: 0;
    margin: 0;
}

.date-filter button {
    color: white;
    background-color: #2e4472 !important;
    padding: 5px 10px;
}

.date-filter button:hover {
    color: white;
    background-color: rgba(36, 53, 90, 0.842) !important;
}

.box {
    height: 100%;
}

.box-header {
    color: #fff;
    background-color: #2E4372;
}

.box-body {
    height: 80%;
}

.body-container {
    height: 100%;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-title * {
    margin: 0.5rem 1rem;
}

.header-link {
    margin-right: 1rem;
    text-align: right;
}

.header-container {
    display: flex;
    align-items: center;
}

.small-box {
    border: 1px solid #ddd;
    height: 80%;

}

.more-btn {
    cursor: pointer;
    transition: transform 1s;
}

.more-btn:hover {
    background-color: #2E4372;
    color: #fff;
    transform: scale(1.05);
}

.small-box * {
    display: flex;
    align-items: center;
}

.small-box .status {
    justify-content: center;
    border-bottom: 1px solid #ddd;
    height: 3rem;
}

.small-box .status span {
    margin-left: 5px;
}

.small-box .money {
    border-bottom: 1px solid #ddd;
    height: 5.5rem;
    justify-content: center;
}

.small-box .money span {
    font-size: 2rem;
}

.small-box .quantity {
    justify-content: space-around;
    height: 2rem;
}

.small-box .quantity a span {
    margin-right: 5px;
}

.small-box .order-quantity {
    font-size: 2rem;
    height: 5.5rem;
    justify-content: center;
}
