.row {
    margin: 0 10%;
}

.tab {
    color: rgb(89, 162, 56);
    font-size: 1.5rem;
    padding: 0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #a59d45;
    border-top: none;
}

.form-group label {
    font-weight: bold;
}
