.login-sidebar
{
max-width: 600px;
margin: auto;
border-top: none !important;
.login-container
{
    color: #000  !important;

    position: relative !important;
    margin-top: 10vh !important;
    padding: 10px 0px !important;

    .logoImage {
       max-width: 140px;
        margin: auto;
        display: block;
        img {
            width: 100%;
        }
    }
    .title-page
    {
         margin-top: 10px;
        font-size: 25px !important;
        font-weight: bold;
        color: #000;
        text-align: center;
    }
   
    .form-group-default
    {
        margin-bottom: 20px;
    }
    button {
        width: 100%;
        
    }
    button:hover {
        background-color: green;
        color: #fff;
    }


}
}

