@charset "UTF-8";
ul, html, body {
  margin: 0 !important;
  padding: 0 !important;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #043db0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  color: #000000;
}

*:hover, *:focus, *:active, *:visited {
  text-decoration: none !important;
}

button, button:focus, select:focus {
  outline: none !important;
  border: none !important;
}

button {
  background-color: transparent;
  padding: 0;
}

img {
  max-width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: Lineat;
  font-display: auto;
  src: url(../fonts/Lineat-III.otf);
}

@font-face {
  font-family: UTMAvo;
  font-display: auto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: UTMAvoBold;
  font-display: auto;
  src: url(../fonts/Roboto-Bold.ttf);
}

html {
  font-size: 62.5%;
}

body {
  font-family: UTMAvo;
  font-size: 1.6rem;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.pageTitle {
  font-family: UTMAvoBold;
  font-size: 1.6rem;
  color: #043db0;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 2.3rem;
}

.headingPrm {
  font-family: UTMAvoBold;
  color: #043db0;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .pageTitle {
    height: 5rem;
    line-height: 5rem;
  }
}

@media (max-width: 575px) {
  .headingPrm {
    margin-bottom: 1rem;
  }
  html {
    font-size: 58%;
  }
}

.fit-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fit-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.w-full {
  width: 100% !important;
}

.rsp-main-bg {
  width: 100%;
}

@media (max-width: 1199px) {
  .rsp-main-bg {
    height: 40rem;
  }
}

@media (max-width: 767px) {
  .rsp-main-bg {
    height: 20rem !important;
  }
}

.headerEff {
  -webkit-animation: moveInTop 1.5s ease-out;
          animation: moveInTop 1.5s ease-out;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.link-active {
  color: #043db0 !important;
}

.pro-active {
  color: #043db0 !important;
  font-weight: bold;
  font-family: UTMAvoBold;
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mScale {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5);
            transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}

@keyframes mScale {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.5, 0.5);
            transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}

@-webkit-keyframes cycle {
  0% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(50%, -50%) rotate(30deg);
            transform: translate(50%, -50%) rotate(30deg);
  }
  50% {
    -webkit-transform: translate(50%, -50%) rotate(60deg);
            transform: translate(50%, -50%) rotate(60deg);
  }
  75% {
    -webkit-transform: translate(50%, -50%) rotate(90deg);
            transform: translate(50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(50%, -50%) rotate(120deg);
            transform: translate(50%, -50%) rotate(120deg);
  }
}

@keyframes cycle {
  0% {
    -webkit-transform: translate(50%, -50%) rotate(0);
            transform: translate(50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(50%, -50%) rotate(30deg);
            transform: translate(50%, -50%) rotate(30deg);
  }
  50% {
    -webkit-transform: translate(50%, -50%) rotate(60deg);
            transform: translate(50%, -50%) rotate(60deg);
  }
  75% {
    -webkit-transform: translate(50%, -50%) rotate(90deg);
            transform: translate(50%, -50%) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(50%, -50%) rotate(120deg);
            transform: translate(50%, -50%) rotate(120deg);
  }
}

@-webkit-keyframes bgPrm {
  0% {
    background-color: #043db0;
  }
  50% {
    background-color: #0781e6;
  }
  100% {
    background-color: #043db0;
  }
}

@keyframes bgPrm {
  0% {
    background-color: #043db0;
  }
  50% {
    background-color: #0781e6;
  }
  100% {
    background-color: #043db0;
  }
}

@-webkit-keyframes bg2nd {
  0% {
    background-color: #0781e6;
  }
  50% {
    background-color: #043db0;
  }
  100% {
    background-color: #0781e6;
  }
}

@keyframes bg2nd {
  0% {
    background-color: #0781e6;
  }
  50% {
    background-color: #043db0;
  }
  100% {
    background-color: #0781e6;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInTopAbs {
  0% {
    opacity: 0;
    top: -5%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@keyframes moveInTopAbs {
  0% {
    opacity: 0;
    top: -5%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes opc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes boxEff {
  0% {
    height: 100%;
    display: block;
    z-index: 9000;
  }
  90% {
    height: 100%;
  }
  100% {
    display: none;
    z-index: -5;
    height: 0;
  }
}

@keyframes boxEff {
  0% {
    height: 100%;
    display: block;
    z-index: 9000;
  }
  90% {
    height: 100%;
  }
  100% {
    display: none;
    z-index: -5;
    height: 0;
  }
}

@-webkit-keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-3rem) scale(0.8, 0.8);
            transform: translateY(-3rem) scale(0.8, 0.8);
  }
  70% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  90% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-3rem) scale(0.8, 0.8);
            transform: translateY(-3rem) scale(0.8, 0.8);
  }
  70% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  90% {
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  20%, 50%, 80%, to {
    top: 50%;
  }
  40% {
    top: calc(50% + 1rem);
  }
  70% {
    top: calc(50% + 0.6rem);
  }
  90% {
    top: calc(50% + 0.2rem);
  }
}

#scrollTop {
  position: fixed;
  z-index: 8000;
  cursor: pointer;
  right: 1rem;
  bottom: 1rem;
  font-size: 2.5rem;
  text-shadow: 0 0.1rem 0.1rem #ffffff;
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: rgba(7, 129, 230, 0.6);
}

#scrollTop i {
  color: #ffffff;
}

#scrollTop:hover {
  background-color: #0781e6;
}

.btnPrm {
  cursor: pointer;
  width: 20rem;
  border: solid 0.2rem #043db0 !important;
  border-radius: 1rem;
  color: #000000;
  text-align: center;
  line-height: 5rem;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.btnPrm:hover {
  background-color: #043db0;
  color: #ffffff;
}

.btnPrm--re {
  background-color: #043db0;
  color: #ffffff;
}

.btnPrm--re:hover {
  background-color: #0781e6;
  border: solid 0.2rem transparent !important;
}

.btnUp, .btnDown {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
  line-height: 2rem !important;
}

.btnUp:hover, .btnDown:hover {
  color: #043db0;
}

.btnUp {
  text-align: right;
}

.btnDown {
  text-align: left;
}

@media (max-width: 767px) {
  .btnPrm {
    width: 16rem;
    line-height: 4rem;
  }
  #scrollTop {
    font-size: 2rem;
  }
}

.form-c input,
.form-c textarea {
  width: 100%;
  padding: 1.1rem;
  border: solid 0.2rem #043db0;
  border-radius: 0.5rem;
}

.form-c input:not(:last-child) {
  margin-bottom: 1rem;
}

.form-c p {
  margin-bottom: 2rem;
}

.form-c button {
  margin-top: 2rem;
}

@media (max-width: 991px) {
  .form-c textarea {
    margin-top: 1rem;
  }
}

@media (max-width: 575px) {
  .form-c input {
    margin-bottom: 20px;
  }
  .form-c input:not(:last-child) {
    margin-bottom: 20px;
  }
  .form-c textarea {
    margin-top: 0;
  }
}

.cart-t {
  padding: 0 2rem;
  border: solid 0.2rem #043db0;
  border-radius: 0.5rem;
}

.cart-t .btnPrm {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cart-t__heading {
  font-family: UTMAvoBold;
}

.cart-t__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-t__info h4 {
  font-weight: bold;
}

.cart-t__btnDel i {
  color: #043db0;
  font-size: 1.8rem;
}

.cart-t__btnDel:hover i {
  color: #0781e6;
}

.cart-t__img {
  width: 15rem;
  height: 10rem;
  max-width: 90%;
}

.cart-t__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-t .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  border-bottom: solid 0.1rem #043db0;
}

.cart-t .row:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-t__bt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.cart-t__total-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-t__total-box .vnd {
  font-size: 2rem;
  font-family: UTMAvoBold;
  color: #043db0;
}

.cart-t__total-box button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #043db0;
  color: #ffffff;
  border-radius: 0.5rem;
}

.cart-t__total-box button:hover, .cart-t__total-box button:focus {
  background-color: #0781e6;
}

@media (max-width: 767px) {
  .cart-t .cart-t__titles {
    display: none;
  }
  .cart-t .cart-t__info, .cart-t .cart-t__img {
    margin-bottom: 3rem;
  }
  .cart-t .cart-t__img img {
    -o-object-position: 2.2rem;
       object-position: 2.2rem;
  }
}

.proShow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 13;
  width: 25rem;
}

.proShow__linkImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.5rem;
  max-height: 24rem;
  margin: 0 auto;
}

.circleSlide {
  position: relative;
  width: 100%;
  height: 100%;
}

.circleSlide .navSlide {
  position: absolute;
  top: 48.5%;
  left: 50%;
  border-radius: 50%;
  z-index: 10;
  -webkit-animation: cycle 8s infinite;
          animation: cycle 8s infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circleSlide .navSlide__item {
  position: absolute;
  top: -22rem;
  left: -22rem;
  -webkit-transform-origin: 22rem 22rem;
          transform-origin: 22rem 22rem;
  width: 11.7rem;
  height: 11.7rem;
  border-radius: 50%;
}

.circleSlide .navSlide__item:nth-child(odd) {
  background-color: #0781e6;
}

.circleSlide .navSlide__item:nth-child(even) {
  background-color: #043db0;
}

.navSlide__item:nth-child(1) {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.navSlide__item:nth-child(2) {
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.navSlide__item:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navSlide__item:nth-child(4) {
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
}

.navSlide__item:nth-child(5) {
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
}

.navSlide__item:nth-child(6) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.navSlide__item:nth-child(7) {
  -webkit-transform: rotate(255deg);
          transform: rotate(255deg);
}

.navSlide__item:nth-child(8) {
  -webkit-transform: rotate(285deg);
          transform: rotate(285deg);
}

.navSlide__item:nth-child(9) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.navSlide__item:nth-child(10) {
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
}

.navSlide__item:nth-child(11) {
  -webkit-transform: rotate(375deg);
          transform: rotate(375deg);
}

.navSlide__item:nth-child(12) {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

@media (max-width: 1199px) {
  .proShow {
    width: 22.5rem;
  }
  .proShow__img {
    margin-left: 15%;
    width: 8rem;
  }
  .circleSlide .navSlide__item {
    top: -18.7rem;
    left: -18.7rem;
    -webkit-transform-origin: 18.7rem 18.7rem;
            transform-origin: 18.7rem 18.7rem;
    width: 10rem;
    height: 10rem;
  }
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #0781e6;
  border-radius: 50%;
}

#big-img {
  margin-bottom: 0.8rem;
  position: relative;
  border: solid 0.25rem #043db0;
  border-radius: 1.5rem;
}

#big-img img {
  max-height: 95%;
  max-width: 90%;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#thumbs {
  width: 100%;
}

#big-img .item,
#thumbs .item {
  width: 100%;
  cursor: pointer;
}

#big-img .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#big-img .item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#big-img .item img {
  padding: 1rem;
  position: absolute;
}

#thumbs .item {
  background-color: #ffffff;
  border-radius: 1.5rem;
  border: solid 0.25rem #043db0;
}

#thumbs .item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#thumbs .item img {
  padding: 1rem;
  position: absolute;
}

@media (max-width: 767px) {
  .proShow {
    width: 16rem !important;
  }
  .proShow__img {
    margin: 0 auto;
    width: 6rem !important;
  }
  .circleSlide .navSlide__item {
    top: -13rem;
    left: -13rem;
    -webkit-transform-origin: 13rem 13rem;
            transform-origin: 13rem 13rem;
    width: 7rem;
    height: 7rem;
  }
}

.map-slide {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25%;
  padding-left: 2px;
  padding-bottom: 18px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-slide img {
  width: 100%;
  border-radius: 50%;
}

@media (max-width: 575px) {
  .map-slide {
    width: 45%;
  }
}

.cardPrm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.cardPrm::after {
  content: "Xem chi tiết";
  text-align: center;
  position: absolute;
  width: 100%;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 20;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.cardPrm__img {
  background-color: #ffffff;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  height: 21.1rem;
  width: 21.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: relative;
}

.cardPrm__img img {
  max-width: 70%;
  max-height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1199px) {
  .cardPrm__img {
    height: 15rem;
    width: 15rem;
  }
}

@media (max-width: 575px) {
  .cardPrm__img {
    height: 14rem;
    width: 14rem;
  }
}

.cardPrm__img::before {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
  border: solid 0.25rem #043db0;
  z-index: 20;
}

.cardPrm__img::after {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  content: '';
  background-image: url("../images/icons/shopping-bag-icon.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #043db0;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
  border: solid 0.25rem #043db0;
  z-index: 20;
}

.cardPrm__name {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 1rem 0;
  text-align: center;
  max-width: 17rem;
}

.cardPrm:hover::after {
  opacity: 1;
}

.cardPrm:hover .cardPrm__img::after {
  opacity: 1;
}

.cardPro {
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 3rem;
  height: 25rem;
  border-radius: 2rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  overflow: hidden;
}

.cardPro__img {
  max-width: 80%;
  max-height: 60%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

@media (max-width: 400px) {
  .cardPro__img {
    max-height: 50%;
  }
}

.cardPro__img::after {
  content: "Xem chi tiết";
  text-align: center;
  position: absolute;
  width: 100%;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 20;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  opacity: 0;
}

.cardPro__name {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-family: UTMAvoBold;
  font-size: 1.6rem;
  margin-top: 1rem;
  text-align: center;
  -webkit-line-clamp: 2;
  max-height: 3.3em;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  max-width: 90%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardPro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 0.2rem #043db0;
  border-radius: 2rem;
  z-index: 20;
}

.cardPro::before {
  content: '';
  background-image: url("../images/icons/shopping-bag-icon.png");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #043db0;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 2rem;
  z-index: 20;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.cardPro:hover {
  -webkit-transform: perspective(60rem) rotateY(0);
          transform: perspective(60rem) rotateY(0);
}

.cardPro:hover .cardPro__img::after {
  opacity: 1;
}

.cardPro:hover::before {
  opacity: 1;
}

.cardPro img {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.cardType {
  position: relative;
  margin-bottom: 3rem;
  height: auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardType::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: solid 0.2rem #043db0;
}

.cardType__img {
  margin-top: 3rem;
  width: 75%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardType .cardPro__name {
  max-width: 95% !important;
  -webkit-line-clamp: 1 !important;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardType__boxList {
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #043db0;
}

.cardType__boxList a {
  line-height: 4rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.cardType__boxList a:hover {
  color: #0781e6;
}

.cardType__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.cardType__list__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  -webkit-transition: all 0.6s ease-in-out 0.6s;
  transition: all 0.6s ease-in-out 0.6s;
  display: none;
}

.cardType:hover {
  -webkit-transform: perspective(60rem) rotateY(0);
          transform: perspective(60rem) rotateY(0);
}

.cardType:hover .cardType__boxList {
  cursor: pointer;
  opacity: 1;
}

.cardPartner {
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 2rem;
  border: solid 0.2rem #043db0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardPartner__title {
  font-family: UTMAvoBold;
  font-size: 1.6rem;
  margin: 1rem 0;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  color: black;
}

.cardPartner img {
  margin: 2rem 0;
  max-width: 90%;
  height: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.cardPartner:hover {
  cursor: pointer;
}

.cardPartner:hover img {
  opacity: .7;
}

.cardPartner:hover .cardPartner__title {
  color: #043db0;
}

.proDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proDetail__text {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proDetail .weight {
  font-size: 2rem;
}

.proDetail__title {
  font-size: 1.6rem;
  line-height: 3.6rem;
  font-family: UTMAvoBold;
  color: #043db0;
}

@media (min-width: 992px) {
  .proDetail__title {
    margin-top: -1rem;
  }
}

.proDetail .cardPrm__price {
  font-size: 2.4rem;
  color: #043db0;
  font-family: UTMAvoBold;
}

.proDetail .cardPrm__oldPrice {
  font-size: 1.8rem;
  color: rgba(93, 93, 93, 0.7);
  text-decoration: line-through;
  margin-left: 2rem;
}

.proDetail__boxNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proDetail__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.proDetail__num input {
  height: 4rem;
  width: 4.3rem;
  text-align: center;
  border-left: none;
  border-right: none;
  border: solid 0.2rem #043db0;
  border-radius: 0.6rem;
}

.boxDesc {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.boxDesc__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8rem;
}

.boxDesc__title {
  font-family: UTMAvoBold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  cursor: pointer;
}

.boxDesc__title:not(:last-child) {
  margin-right: 3rem;
}

.boxDesc__title:hover {
  color: #043db0;
}

.boxDesc__item {
  -webkit-animation: moveInBottom 0.4s ease-out;
          animation: moveInBottom 0.4s ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.boxDesc__item:not(:first-child) {
  display: none;
}

@media (max-width: 991px) {
  .cardPrm__name {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .proDetail__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .proDetail .cardPrm__price {
    font-size: 2rem;
  }
  .proDetail .cardPrm__oldPrice {
    font-size: 1.6rem;
  }
  .proDetail .weight {
    font-size: 1.7rem;
  }
  .proDetail__boxNum {
    width: 16rem;
  }
  .cardPro {
    margin-bottom: 2.7rem;
    height: 20rem;
  }
  .cardPro__name {
    font-size: 1.5rem;
  }
  .cardType__list__overlay {
    display: block;
  }
  .cardType:hover .cardType__list__overlay {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .cardType__img {
    margin-top: 1rem;
  }
}

@media (max-width: 575px) {
  .proDetail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proDetail__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    height: 70%;
  }
  .proDetail * {
    text-align: center;
  }
  .proDetail__price {
    margin: 0.6rem 0;
  }
  .proDetail__weight {
    margin-top: 0.6rem;
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .cardPro {
    height: 16rem;
    margin-bottom: 2rem;
  }
  .cardPro__name {
    font-size: 1.4rem;
    max-width: 10rem;
  }
}

#searchArea {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8999;
  background-color: rgba(7, 129, 230, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-animation: moveInTop 0.5s ease-out;
          animation: moveInTop 0.5s ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

#boxSearch {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 2.5em;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 0.3rem;
  outline: none;
  border: none;
}

#exitSearch {
  position: absolute;
  top: 50%;
  right: 14%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #ffffff;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  background-color: #043db0;
}

#exitSearch:hover {
  background-color: #0781e6;
}

.listProducts .headingPrm {
  margin: 0 auto 2.5rem auto;
}

.boxList {
  margin-top: -0.8rem;
  padding-bottom: 10rem;
}

.boxList * {
  text-align: left;
}

.listPro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listPro__item:not(:last-child) {
  margin-bottom: 1rem;
}

.listPro a {
  color: #000000;
}

.listPro a:hover {
  color: #0781e6;
}

@media (max-width: 767px) {
  .boxList {
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    position: relative;
  }
  .boxList * {
    text-align: center;
  }
  .listPro {
    display: none;
    padding: 2rem !important;
    border-radius: 2rem;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    position: absolute;
    z-index: 21;
    background-color: #0781e6;
  }
  .listPro a {
    color: #ffffff;
  }
  .listPro a:hover {
    color: #000000;
  }
}

@media (max-width: 575px) {
  .listProducts {
    margin-top: 0 !important;
  }
  .listPro {
    width: 100%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.vif-intro {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  position: relative;
}

.vif-intro .circle-left {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #043db0;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-88%, -50%);
          transform: translate(-88%, -50%);
  -webkit-animation: show .5s linear 0s;
          animation: show .5s linear 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.vif-intro .circle-right {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #0781e6;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-12%, -50%);
          transform: translate(-12%, -50%);
  -webkit-animation: show .5s linear .5s;
          animation: show .5s linear .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.trainsition-item {
  width: 60px;
  height: 60px;
}

.trainsition-item img {
  width: 100%;
}

.trainsition-item.left-item {
  position: absolute;
  left: 10%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.left-item:nth-child(1) {
  -webkit-animation: left_to_right 1.5s linear 0.5s;
          animation: left_to_right 1.5s linear 0.5s;
}

.left-item:nth-child(2) {
  -webkit-animation: left_to_right 1.5s linear 1s;
          animation: left_to_right 1.5s linear 1s;
}

.left-item:nth-child(3) {
  -webkit-animation: left_to_right 1.5s linear 1.5s;
          animation: left_to_right 1.5s linear 1.5s;
}

.left-item:nth-child(4) {
  -webkit-animation: left_to_right 1.5s linear 2s;
          animation: left_to_right 1.5s linear 2s;
}

.left-item:nth-child(5) {
  -webkit-animation: left_to_right 1.5s linear 2.5s;
          animation: left_to_right 1.5s linear 2.5s;
}

.trainsition-item.right-item {
  position: absolute;
  left: 80%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.right-item:nth-child(1) {
  -webkit-animation: right_to_left 1.5s linear 0.5s;
          animation: right_to_left 1.5s linear 0.5s;
}

.right-item:nth-child(2) {
  -webkit-animation: right_to_left 1.5s linear 1s;
          animation: right_to_left 1.5s linear 1s;
}

.right-item:nth-child(3) {
  -webkit-animation: right_to_left 1.5s linear 1.5s;
          animation: right_to_left 1.5s linear 1.5s;
}

.right-item:nth-child(4) {
  -webkit-animation: right_to_left 1.5s linear 2s;
          animation: right_to_left 1.5s linear 2s;
}

.right-item:nth-child(5) {
  -webkit-animation: right_to_left 1.5s linear 2.5s;
          animation: right_to_left 1.5s linear 2.5s;
}

.vif-logo img {
  width: 220px;
  position: absolute;
  left: 49.99%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  animation: blink 1s steps(5, start) infinite 3.5s;
  -webkit-animation: blink 1s steps(5, start) infinite 3.5s;
}

@media (max-width: 575px) {
  .vif-intro {
    width: 480px;
    height: 240px;
  }
  .vif-intro .circle-left {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
  .vif-intro .circle-right {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
  .trainsition-item {
    width: 36px;
    height: 36px;
  }
  .vif-logo img {
    width: 150px;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes show {
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.9;
  }
}

@-webkit-keyframes left_to_right {
  33% {
    opacity: 1;
    left: 20%;
  }
  67% {
    opacity: 1;
    left: 30%;
  }
  100% {
    opacity: 0;
    left: 40%;
  }
}

@keyframes left_to_right {
  33% {
    opacity: 1;
    left: 20%;
  }
  67% {
    opacity: 1;
    left: 30%;
  }
  100% {
    opacity: 0;
    left: 40%;
  }
}

@-webkit-keyframes right_to_left {
  33% {
    opacity: 1;
    left: 70%;
  }
  67% {
    opacity: 1;
    left: 60%;
  }
  100% {
    opacity: 0;
    left: 50%;
  }
}

@keyframes right_to_left {
  33% {
    opacity: 1;
    left: 70%;
  }
  67% {
    opacity: 1;
    left: 60%;
  }
  100% {
    opacity: 0;
    left: 50%;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #043db0;
  overflow: hidden;
}

.wrapper__content {
  margin-top: 3rem !important;
}

.wrapper header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  max-height: 13.6rem;
}

.box-eff {
  position: fixed;
  display: block;
  overflow: hidden;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000 !important;
  background-color: #ffffff;
  -webkit-animation: boxEff 5s ease-out;
          animation: boxEff 5s ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.box-eff__gif {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-fluid {
  padding: 0 !important;
}

.container {
  max-width: 1170px !important;
  padding: 0 !important;
}

.header {
  background-color: #ffffff;
  padding: 3rem 1.5rem;
  max-width: 1170px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 12.2rem;
}

.main__typeOfPro .main__content,
.main__typeOfPro .pageTitle {
  position: relative;
  z-index: 2;
}

.main__home {
  height: 623px;
}

.main__home .listProducts .headingPrm {
  margin-left: 2%;
}

.main__about .pageTitle {
  margin-bottom: 1rem;
}

.main__about ul {
  padding-left: 30px !important;
}

.main__about ul li {
  list-style: initial;
}

.main__productDetail .listProducts .headingPrm {
  text-align: center;
  font-size: 1.8rem;
}

.main__order, .main__about, .main__cart {
  padding-bottom: 3rem;
}

.main__products .pageTitle {
  margin-bottom: 0;
}

.footer {
  background-color: #043db0;
  padding: 3rem 0;
  position: relative;
}

.footer * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.footer a {
  position: relative;
  display: inline-block !important;
}

.footer a:hover {
  color: #ffffff;
  opacity: .6;
}

.footer__logo {
  width: 60%;
  margin-top: 0.64rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.footer .colSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.footer .flx img {
  vertical-align: baseline;
}

.footer__boxSocial {
  text-align: right;
  margin-top: auto;
}

.footer__boxSocial a {
  display: inline-block;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #ffffff;
  border-radius: 20%;
  text-align: center;
}

.footer__boxSocial a:not(:last-child) {
  margin-right: 0.8rem;
}

.footer__boxSocial i {
  font-size: 2.5rem;
  color: #043db0;
}

.footer__contact {
  text-align: right;
}

.footer__menu a:not(:last-child),
.footer__contact div:not(:last-child) {
  margin-bottom: 2.7rem;
  display: block;
}

.footer__menuRight a {
  text-align: center;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__bottom {
  margin-top: 9rem;
  padding-top: 2rem;
}

.footer__bt-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__cpr {
  margin-bottom: 2.7rem;
}

.footer__bt-menu a {
  padding-right: 1rem;
}

.footer__bt-menu a:not(:last-child) {
  position: relative;
}

.footer__bt-menu a:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 50%;
  border-right: solid 0.2rem #ffffff;
}

@media (min-width: 992px) {
  .main .container,
  .header .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .main__products .listProducts .cardPro__name {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .main__products .main__content .row .col-lg-3 {
    padding-right: 0 !important;
  }
  .main__products .pagi {
    text-align: right;
  }
  .main__products .pagi__link {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .wrapper__content {
    margin-top: 0;
  }
  .header {
    padding: 1rem;
    margin-top: 0 !important;
  }
  .main {
    margin-top: 5.08rem;
  }
  .main__home {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 1199px) {
  .main__home {
    height: calc(100vh - 15.6rem);
  }
}

@media (max-width: 767px) {
  header {
    height: 8.08rem;
  }
  .flx {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__top,
  .footer__contact > .footer__boxSocial, .footer__contact {
    text-align: center !important;
  }
  .footer__menuLeft, .footer__menuRight {
    margin-bottom: 2.5rem;
  }
  .footer__menu a:not(:last-child),
  .footer__contact div:not(:last-child) {
    margin-bottom: 1rem;
  }
  .footer__bottom {
    margin-top: 6.5rem;
  }
  .footer__logo {
    width: 35%;
    margin-bottom: 2.5rem;
  }
  .footer__cpr {
    margin-bottom: 1rem;
  }
  .footer__bt-left {
    text-align: center;
  }
  .footer .colSocial {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
  .main__home {
    height: calc(100vh - 8rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__productDetail .listProducts .headingPrm {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .main__products {
    text-align: center;
  }
  .main__products .pageTitle {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }
  .main__products .pageTitle::after {
    content: '';
    position: absolute;
    top: 47%;
    right: -1.5rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #0781e6;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
            clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
}

.contact-page {
  padding-bottom: 3rem !important;
}

.contact-page .company-info p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-menu-horizontal {
  padding-bottom: 10px;
}

.product-menu-horizontal .menu-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-menu-horizontal .menu-horizontal .menu-horizontal-item {
  padding: 10px 20px;
}

.product-menu-horizontal .menu-horizontal .menu-horizontal-item a {
  color: #000000;
  font-weight: bold;
}

.product-menu-horizontal .menu-horizontal .menu-horizontal-item a:hover {
  color: #0781e6;
}

.listProducts.type-2 .cardPro {
  height: 33rem;
}

@media (max-width: 767px) {
  .listProducts.type-2 .cardPro {
    height: 18rem;
  }
}

@media (max-width: 575px) {
  .colSocial {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .listProducts {
    margin-top: 3rem;
  }
  .listProducts .headingPrm {
    margin-left: 0 !important;
  }
  .footer__bottom {
    margin-top: 5rem;
    padding-top: 1rem;
    text-align: center;
  }
  .footer__menuRight {
    margin-bottom: 2.5rem;
  }
  .footer__bt-left {
    margin-bottom: 1.5rem;
  }
  .footer__contact {
    display: inline-block;
    margin: 0 auto;
  }
  .footer__boxSocial {
    text-align: center;
  }
}

.vifLogo {
  display: block;
}

.topnav {
  height: 7.6rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 8500;
}

.topnav .dropdown-toggle::after {
  display: none !important;
}

.topnav .btn-light:hover {
  background-color: transparent !important;
}

.topnav .btn-light:not(:disabled):not(.disabled).active, .topnav .btn-light:not(:disabled):not(.disabled):active, .topnav .show > .btn-light.dropdown-toggle {
  color: transparent !important;
  background-color: transparent !important;
  border: none !important;
}

.topnav .dropdown-item.active, .topnav .dropdown-item:active {
  background-color: transparent !important;
  border: none !important;
}

.topnav .dropdown-item {
  padding: 0.25rem 0.5rem !important;
  text-align: center !important;
}

.topnav .dropdown .btn {
  padding: 0 !important;
}

.topnav .dropdown *:active, .topnav .dropdown *:focus, .topnav .dropdown *:visited, .topnav .dropdown *:link {
  border: none !important;
  outline: none !important;
}

.topnav__logo {
  position: absolute;
  width: 14.5rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.topnav__logo:hover {
  -webkit-animation: bounce 1s ease-out;
          animation: bounce 1s ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.topnav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 83%;
      flex-basis: 83%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav__links a {
  display: block;
  color: #000000;
  text-align: center;
  font-size: 1.6rem;
  position: relative;
  font-family: UTMAvoBold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topnav__links a::before {
  content: attr(data-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #043db0;
  background-color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.topnav__links a:hover::before {
  width: 100%;
}

.topnav__links a:nth-child(3) {
  margin-right: 20rem;
}

.topnav__links a:nth-child(1) {
  margin-right: 3rem;
}

.topnav__links a:nth-child(2) {
  margin-right: 3rem;
}

.topnav__btn {
  font-size: 2.2rem;
  display: none;
  position: relative;
  z-index: 100;
}

.topnav__btn i {
  color: #043db0;
}

.topnav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 12%;
      flex-basis: 12%;
}

.topnav__icons i {
  font-size: 2.2rem;
  color: #043db0;
}

.topnav__icons i.fa-search {
  color: #0781e6 !important;
}

.topnav__icons .quantityPro {
  font-size: 1.3rem;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 12;
  background-color: #043db0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topnav__iconCart {
  position: relative;
}

.topnav__iconCart i {
  font-size: 2.4rem;
}

.topnav__iconLang button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.topnav__iconLang, .topnav__iconCart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pagi {
  text-align: center;
  margin-bottom: 2rem;
}

.pagi__item {
  display: inline-block;
}

.pagi__item:not(:last-child) {
  margin-right: 0.5rem;
}

.pagi__link {
  border-radius: 0.5rem;
  display: block;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  background-color: #043db0;
}

.pagi__link:hover {
  color: #ffffff;
  background-color: #0781e6;
}

.pagi__active {
  background-color: #0781e6;
}

@media (max-width: 1199px) {
  .topnav__links {
    -webkit-animation: moveInTopAbs 0.5s ease-out;
            animation: moveInTopAbs 0.5s ease-out;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
}

@media (max-width: 991px) {
  .topnav {
    height: 6.08rem;
    display: block;
    width: 100%;
  }
  .topnav .quantityPro {
    top: 60%;
  }
  .topnav__btn {
    display: block;
    position: absolute;
    right: 4px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .topnav__links {
    display: none;
  }
  .topnav a.vifLogo {
    display: block;
  }
  .topnav.topnavRsp .topnav__links {
    padding: 2rem;
    width: calc(100% + 3.2rem);
    position: absolute;
    z-index: 7000;
    top: calc(100% + 0.8rem);
    left: -1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0781e6;
  }
  .topnav.topnavRsp .topnav__links a {
    padding: 0.5rem 0;
    display: block;
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    margin: 0;
  }
  .topnav.topnavRsp .topnav__links a::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    right: 2rem;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 1.5rem;
    width: 2.5rem;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 75% 100%, 82% 49%, 75% 0);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 75% 100%, 82% 49%, 75% 0);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .topnav.topnavRsp .topnav__links a::before {
    display: none;
  }
  .topnav.topnavRsp .topnav__links a:nth-child(4) {
    margin-right: 0;
  }
  .topnav__icons {
    height: 100%;
    margin-right: 5rem;
    width: 100%;
  }
  .topnav__icons button, .topnav__icons a {
    margin-right: 3rem;
  }
  .topnav__logo {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 11.6rem;
  }
  .topnav__iconLang {
    margin-left: auto !important;
    margin-right: 20px;
    margin-top: -5px;
  }
}

@media (max-width: 400px) {
  .topnav__icons {
    margin-right: 4rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .topnav__icons button {
    margin-right: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */