/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    font-size: 1rem;
}

.header {
    margin: 0 15%;
}

.header div {
    font-size: 1.5rem;
}

.card-header {
    background-color: #13b921;
    border: none !important;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.stepwizard-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.stepwizard-row .stepwizard-step {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.stepwizard-row .stepwizard-step p {
    color: #666;
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 85px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: 0;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding-top: 1rem;
}

.btn-confirm {
    margin-left: 1rem;
}

.btn-success {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-success:hover {
    color: #fff;
    background-color: #17a673;
    border-color: #169b6b;
}

.btn-success.focus, .btn-success:focus {
    color: #fff;
    background-color: #17a673;
    border-color: #169b6b;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-info {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}

.btn-info:hover {
    color: #fff;
    background-color: #2c9faf;
    border-color: #2a96a5;
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: #2c9faf;
    border-color: #2a96a5;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(84, 196, 212, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(84, 196, 212, 0.5);
    outline: none;
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #36b9cc;
    border-color: #36b9cc;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #2a96a5;
    border-color: #278c9b;
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(84, 196, 212, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(84, 196, 212, 0.5);
}

.card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.rounded-pill {
    border-radius: 42%;
    position: absolute;
    text-align: center;
    top: 30%;
    right: 1rem;
    width: 1.5rem;
    height: 1.2rem;
    font-size: 0.9rem;
}

.bg-success {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.disabled {
    display: none;
}

.card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 4px 5px #ddd;
            box-shadow: 0 4px 5px #ddd;
    border: 1px solid #ddd;
}

.box-content {
    border: 2px solid #000;
    -webkit-box-shadow: 0 4px 5px rgb(32, 31, 31);
            box-shadow: 0 4px 5px rgb(32, 31, 31);
    /* width: 800px; */
    margin: 0 15%;
}

.input-group .custom-select {
    width: 100%;
    padding: 6px 12px;
}

.input-group .custom-select:focus {
    border: 1px solid #36b9cc;
}

.form-control {
    border: 1px solid #666;
}

.form-control::-webkit-input-placeholder {
    margin-left: 6px;
}

.form-control::-moz-placeholder {
    margin-left: 6px;
}

.form-control:-ms-input-placeholder {
    margin-left: 6px;
}

.form-control::-ms-input-placeholder {
    margin-left: 6px;
}

.form-control::placeholder {
    margin-left: 6px;
}

.list-group {
    border: 1px solid #ddd;
}

.list-group-item {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header {
    font-weight: bold;
}

.header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-number {
    border: none;
}

.highlight-text {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    /* font-weight: bold; */
    color: rgb(243, 125, 125);
}

.order-status {
    -webkit-appearance: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.order-code {
    font-size: 1.2rem;
}

.border-0 {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.order-value {
    position: relative;
    /* overflow: hidden; */
}

.order-value div {
    position: absolute;
    left: 0;
    top: -20px;
}

.order-value p {
    background-color: #eee;
    font-style: bold;
    padding: 5px 1rem;
    position: absolute;
    top: 3px;
    right: 3px;
}

.form-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    margin-bottom: 1.5rem;
}

.text-danger {
    font-size: 12px;
    margin-left: 10px;
    font-style: italic;
    position: relative;
    top: 3px;
    left: 100%;
    width: 100%;
}

.dd-list {
    background-color: rgb(221, 221, 221);
    position: absolute;
    left: 31%;
    top: 35px;
    z-index: 1;
    width: 300px;
}

.dd-list li {
    cursor: pointer;
    height: 30px;
    padding: 5px 15px;
}

.dd-list li:hover {
    color: #fff;
    background-color: rgb(184, 184, 184);
}

.no-border {
    border: none;
}

@media screen and (max-width: 1007px) {
    .list-group {}
    .card-body {
        padding: 15px;
    }
    .box-content {
        margin: 0 10%;
    }
    .form-item {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    }
    .text-danger {
        left: 0%;
    }
}

@media screen and (max-width: 640px) {
    .card-body {
        padding: 5px;
    }
    .box-content {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .header p {
        visibility: hidden;
    }
    .stepwizard-row:before {
        top: 130px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
            box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.address select {
    width: 150px;
}

.address.oncreateorder select {
    margin-bottom: 0;
}

.address.oncreateorder select {
    margin-bottom: 0;
}

.pb-1 {
    padding-bottom: 1.5rem;
}

.pr-1 {
    padding-right: 1.5rem;
}

.width-100 {
    width: 100%;
}
