body {
    font-family: sans-serif;
}
.logoClient
  {
      width: 50%;
      img {
        width: 100% !important;
      }
  }
 
  .logo-area
  {
    display:flex;
    position: relative;
    .logo-chanh8
    {  
      width: 50%;
    
      margin-left: -15px;
      z-index: -1;
   
      
    }
  }
  


  .row-section 
  {
   display: block;
   height: 160px;
  }
  .method-giaohang
  {
    position: relative;
    text-align: center;
    img {
      width: 100%;
    }
    p {
      position: absolute;
      bottom: 4vh;
      width: 100%;
      margin: auto;
      font-weight: bolder;
      }
  }
  .datePrint {
    display: block;
    position: relative;
  
    .dateDisplay
    {
      display: block !important;
      font-size: 1.5rem;
      font-weight: bolder;
    }
    .title 
    {
      margin-bottom: 10px;
    }
  }

  .vertical-center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .design-by
   {
     width: 100%;
    
     text-align: center;
     font-weight: bolder;
     font-size: 1rem;
   }
   .tips-sign
   {
     width: 100%;
     font-style: italic;

   }
   .sum-amount
   {
     font-weight: bolder;
     font-size: 50px;
   }
  
   .noted-order {
     width: 100%;
     font-weight: bolder;
     position: absolute;
     bottom: 0;
     text-align: justify;
     font-weight: 500;
     margin-bottom: 10px;
     span {
       font-style: italic;
     }
    
   }
   .row-info
   {
     height: 30vh;
   }
   .row-info
   {
      border-left: 1px solid #212529;
     border-right: 1px solid #212529;
   }
   .row-invoice
   {
     border-left: 1px solid #212529;
     border-right: 1px solid #212529;
     height: 15vh;
   
     text-align: center;
     .code {
       font-weight: bolder;
       font-size: 60px;
       width: 100%;
     

     }
   }

   .titleText 
   {
     padding: 5px 0px;
     font-weight: bolder;
     text-transform: uppercase;
   }
   .noted {
     font-weight: bolder;
     font-style: italic;
     font-size: 1.2rem;
   }
   .printArea
   {
     padding: 10px;
   }
   .bold-text 
   {
     font-weight: bolder;
   }
   .fullName 
   {
     font-size: 1.1rem;
   }

   .barcode
   {
     width: 100%;
   }
   .count-order {
     font-size: 1.3rem;
     font-weight: bolder;
   }

   .row-info {
     
     height: max-content !important;
   } 
   .row-info .titleText {
     padding-top: 20px !important;
   }
   .row-info .m-0:last-child {
     padding-bottom: 20px;
   }
   .row-section .col-6
   {
     padding-top: 10px;
   }
   .codePrint 
   {

    font-size: 1.1rem;
   }
   #DivIdToPrint {
     padding: 20px;
   }
   .barcode {
     display: block;
      img {
        width: 60%;
        height: 30px;
    
      }
   }