.container {
    /* background-color: #eee; */
    padding: 0;
    height: 100vh;
    margin: 0 10%;
}

.header {
    color: rgb(89, 162, 56);
    font-weight: bold;
}

.main-row {
    /* background-color: #fff; */
    margin: 0 10%;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    position: relative;
}

.save-status-btn {
    position: absolute;
    right: 1.5rem;
}

.main-row div label {
    font-size: 1.2rem;
    font-weight: bolder;
}

.main-row div select {
    height: 2rem;
    width: 444.5px;
}

.main-row div {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.main-row h4 {
    color: rgb(89, 162, 56);
}

.status-text {
    font-weight: 600;
}

.content ul li span {
    line-height: 2rem;
}

.content ul {
    list-style-type: none;
}

.content ul li {
    display: flex;
    flex-direction: row;
}

.content ul li:first-child .step-bar .step__circle {
    background-color: rgb(0, 153, 0);
}

.content ul li:first-child .step-bar .step__circle::before {
    content: "";
    height: 21px;
    width: 21px;
    background-color: rgba(0, 153, 0, 0.2);
    position: absolute;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    z-index: 0;
}

.step-bar {
    width: 21px;
    margin-right: 12px !important;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.step__circle {
    background-color: rgba(0, 153, 0, 0.7);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 6px;
    z-index: 1;
}

.step__line {
    background-color: rgba(0, 153, 0, 0.2);
    width: 1px;
    height: 100%;
    position: absolute;
    margin-bottom: -6px;
    top: 6px;
    z-index: 0;
}

.step-info {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}
